body{
    background-color:pink;
    font-family: system-ui;
}
.container{
    background-color: white;
    width: 1000px;
    max-width: 100%;
    margin: auto;
    padding:50px;
    box-shadow: 0 10px 50px ;
    display: grid;
    grid-template-columns: 30% 50%;
    column-gap: 7%;
    row-gap: 30px;
}
.avatar img{
    width: 200px;
    height: 200px;
    border-radius: 70%;
    object-fit: cover;
}
.avatar{
    display: flex;
    justify-content: right; 
}
.name{
    padding-left: 30px;
    border-left: 1px solid #000;
}
.name h1{
    font-weight: 200;
    font-size: xxx-large;
    margin:0 0 5px;
}
.name .specialize{
    margin:0;
    font-weight: bold;
    letter-spacing: 3px;
}
.name .contact{
    padding:0;
    list-style: none;
}
.name .contact span{
    display: inline-block;
    background-color: #000;
    color:#fff;
    width:20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: small;
    margin-right: 20px;
}
.name .contact li{
    padding: 5px 0;
    transform: translate(-20);
    background-color: #E9E7EA;
}

.intro{
    padding-left:0
    list-style: none;
    text-align: justify
}
.exp{
    padding-left: 30px;
    border-left:1px solid #000 ;
    text-align: justify;

}
h2{
    padding: 0;
    margin: 0 0 20px;
}
